html, body{max-width: 800px;width:100%;font-family: 'Montserrat', sans-serif;line-height: 26px;margin:auto}
#resume {margin-top: 50px;height: 85vh;margin-bottom: 50px;}
.full-height {height: 85vh;}
.nav-item {padding:0 15px}

@media (max-width: 768px) {
     .full-height {height:auto} 
     #resume {margin-top: 0;height: auto;margin-bottom: 0}
    }

h1 {font-size: 1.7em}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}
p {font-size: 15px;}
p.work {margin-bottom: 0;}
.edu {margin: 0px -15px}
span {font-size: 14px;}
.material-icons {
    font-size: 16px;  /* Preferred icon size */}

/*color scheme */
.cadet {background-color: #2D3142;color:#fff}
.silver {background-color: #BFC0C0;color:#444}
.white {background-color: #f5f5f5;color:#444}
.mandarin {background-color: #EF8354;color:#fff}
.indie {background-color: #4F5D75;color:#fff;}
