@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    size: 16px;
}
h1, h2, h3, h4, h5, h6 {
/*    font-family: 'Fredoka One', cursive; */
    font-weight: 400;
    display: inline-block;
}
.work::before {
    content: "💻";
    padding: 5px;
    background-color: #FF206E;
}
.cap::before{
    content: "🎓";
    padding: 5px;
    background-color: #FF206E;
}
.volunteer::before {
    content: "⚙️";
    padding: 5px;
    background-color: #FF206E;
}
.cert::before {
    content: "📋";
    padding: 5px;
    background-color: #FF206E
}

.topmenu {
    display: block;
}
